.course {
    border: 1px solid black;
    height: 60px;
    margin: 4px 4px;
    border-radius: 4px;
    box-shadow: 4px 4px 0px 0px goldenrod;
    background-color: palegoldenrod;
    color: black;
    cursor: pointer;
}
.course p {
    text-align: center;
    line-height: 1em;
    margin: 5px 0;
}
.course .title {
    font-size: 16px;
}
.course .time {
    font-size: 10px
}